.page-header {
  position: relative;
  border-bottom: 2px solid black;
}

.page-header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-nav {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: palegoldenrod;
  padding: 50px;
  text-align: center;
  font-size: 20px;
}

.menu-container.is-open {
  display: block;
}
